<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Baby Collections</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks2.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks6.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks8.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks13.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks14.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks16.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks18.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/baby-boy/ks19.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Playwear set</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
