<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">New Users</h1>
        <p>
            Just Cotton is the new membership program of the company. The program is simple and easy to use. The aim of introducing a subscription-based loyalty program is to increase customer retention in a competitive digital payments ecosystem.Over the last few years, internet companies have introduced subscription-based programs for customer retention. Amazon Prime, Zomato Gold, Flipkart Plus and Swiggy Super are a few examples of subscription programs of top internet companies. On a similar line, Just Cotton has introduced its loyalty program "Just Cotton First".Just Cotton First is different as it covers paid subscriptions of several companies such as Zomato, Eros Now, Sony Liv, Viu Premium, and Uber. Just Cotton Membership program combines offerings across different categories into one. One year subscription of Just Cotton First costs Rs. 750.However, the company is providing Rs. 100 cashback to make the effective price of Just Cotton First membership Rs. 650. Meanwhile, check Just Cotton postpaid offers to get an instant credit of up to Rs. 10,000 in a month. Click here to know about Just Cotton Loot offers.
        </p>
    </div>
</div>


<% include ../partials/footer %>
