<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Home Furnishings Collections</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain1.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain2.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain3.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain4.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain5.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain6.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain7.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain8.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain9.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/curtains/curtain10.jpg" class="img-thumbnail">
            <div class="caption">
                <span>Curtain</span>
                <strong><span class="float-right">$9.95</span></strong>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
