<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Mens Hoodie Collections</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/menHoodies/beige-hoodie/Beige1.jpg" class="img-thumbnail">
            <div class="caption">
                <span> Hoodie Fleece Jacket</span>
                <strong><span class="float-right">$19.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/menHoodies/black-hoodie/Black1.jpg" class="img-thumbnail">
            <div class="caption">
                <span> Hoodie Fleece Jacket</span>
                <strong><span class="float-right">$19.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/menHoodies/grey-hoodie/Grey1.jpg" class="img-thumbnail">
            <div class="caption">
                <span> Hoodie Fleece Jacket</span>
                <strong><span class="float-right">$19.95</span></strong>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <img src="/images/menHoodies/navy-hoodie/Navy1.jpg" class="img-thumbnail">
            <div class="caption">
                <span> Hoodie Fleece Jacket</span>
                <strong><span class="float-right">$19.95</span></strong>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
